// Colors variable
$orange: #ff7555
$blue: #405089
$text: #585f76

// Breakpoints variable
$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic,cyrillic-ext')

*
  //font-family: 'Montserrat', sans-serif
  font-family: 'Ubuntu', sans-serif
  outline: none !important

html, body
  background-color: #fbfbfb
  //font-size: 15px !important
  //@media screen and (min-width: 768px)
  //  font-size: 16px !important


button,
input,
select,
textarea
  font-family: inherit
  font-size: inherit
  line-height: inherit
  color: inherit


.logo
  padding: 1.125rem .625rem
  margin: 0.25rem 0
  border-radius: 15px
  background-color: #ff7555
  font-size: 1.125rem
  font-weight: 700
  display: inline-block
  color: #ffffff
  &:hover
    color: #ffffff
    text-decoration: none

img
  max-width: 100%

.image-loading
  font-size: 2rem
  color: #405089
  padding: 3rem
  background-color: #eeeeee

.footer-fix
  min-height: calc(100vh - 19rem)

// Background
.bg
  &--blue
    background-color: #405089
  &--orange
    background-color: #ff7555 !important
  &--transparent
    background-color: transparent
  &--white
    background-color: #ffffff


// User profile
.user-profile
  &__avatar
    max-width: 13rem
    margin: 0 auto
    @media screen and (min-width: 768px)
      margin: 0
      max-width: 90%
  &__about
    white-space: pre-wrap
    font-size: 0.875rem
    font-weight: 300
  &__info-group
    font-size: 0.875rem
    font-weight: 500
    & span
      color: #585f76
      font-weight: 400
      font-size: 0.875rem

  &__navbar
    & ul
      margin: 0
      padding: 0
      & li
        list-style: none
        & a
          font-size: 0.875rem
          font-weight: 500
          color: #000000
          display: block
          padding: 0.25rem 0
          text-decoration: none
          text-align: center
          @media screen and (min-width: 768px)
            text-align: left
          &.active, &:hover
            color: #e47459


// Auth
.auth
  &__title
    font-size: 2rem
    line-height: 1.4
    font-weight: 400
    color: #585f76
  &__subtitle
    font-size: 1rem
    font-weight: 300
    color: #585f76
  //&__radio
  //  display: flex !important
  //  width: 100%
  //  & label, & span
  //    width: 100%
  //    display: block
  &__confirm-btn
    color: #405089 !important
    font-weight: 600
    font-size: 0.8775rem
    cursor: pointer
    text-decoration: none

// Element ui fix
.el-select
  & input
    cursor: pointer !important

.el-form-item__content
  line-height: 1rem !important

.el-scrollbar__wrap
  margin-bottom: 0 !important
  @media screen and (min-width: 540px)
    margin-bottom: -15px !important

.el-checkbox
  display: flex !important
  &__input
    margin-top: 2px !important
  &__label
    white-space: normal !important

.el-tag
  background-color: #efefef !important
  color: #585f76 !important

.el-message-box
  display: inline-block
  width: 420px
  max-width: calc(100% - 2rem)

.el-breadcrumb
  & span a
    font-weight: 400 !important
    &:hover
      text-decoration: underline

// Multi uploader

// Bootstrap

.card-title
  font-size: 1.5rem
  font-weight: 400
.card-subtitle
  font-size: 0.875rem
  font-weight: 300
  color: #777777
.card-title-small
  color: silver
  font-size: .75rem
  font-weight: 400

.rounded0
  border-radius: 0
.rounded25
  border-radius: 5px
  overflow: hidden

.shadow25
  box-shadow: 0 0 10px 2px rgba(0,0,0,.05)
  background-color: #ffffff
.shadow-md-25
  @media screen and (min-width: 768px)
    box-shadow: 0 0 10px 2px rgba(0,0,0,.05)
    background-color: #ffffff
.small-text
  font-size: 0.75rem
  line-height: 1.4


//  main search panel
.main-search-panel
  & .el-input__inner
    font-size: 1.125rem
    height: auto
    padding: 0.125rem 1rem

.main-search-panel-icon
  cursor: pointer
  right: 1rem
  top: 0.625rem
  font-size: 1.5rem
  z-index: 3
  color: #777777



// Message sender
.messenger-sender
  padding: 0.75rem 1.5rem 0
  background-color: #f9f9f9
  &__btn
    position: absolute
    top: 0.5rem
    right: 0.75rem
    font-size: 1rem
    cursor: pointer
    color: #405089
  &__input input
    padding-left: 2rem


// profile alert
.profile-alert
  padding: 0.75rem 1.125rem !important
  & .el-alert__title
    font-size: 1.125rem
    line-height: 1.3
  & .el-alert__description
    margin: 0 !important
    padding: 0 !important
    font-size: 0.875rem !important

.disabled
  color: #b9b9b9 !important
  pointer-events: none


// import element custom style
@import "sass/element-io/all"

// import sass component
@import "sass/main-top"
@import "sass/about"

@import "sass/order"
@import "sass/tour/tour-info"

// faq
@import "sass/faq/faq"
